<p>signup</p>
<form method="post">
    
    username: <input type="text" name="username"><br>
    password: <input type="password" name="password"><br>
    confirm:  <input type="password" name="confirm"><br>
    <input type="submit" value="sign up">
    
</form>

<% include ./parts/foot.ejs %>